h1{
    font-family: museo sans, sans-serif;
    font-weight: 900;
    font-size: 90pt; 
    line-height: 1.0;
}
h2{
    font-family: museo sans, sans-serif;
    font-weight: 500;
    font-size: 32pt; 
}

p{
    font-family: museo sans, sans-serif;
    font-weight: 300;
    font-size: 20pt;
}

.topCTA{
    background-color: black;
    margin: 20px;
    padding-bottom: 50px;
}

.topCTA h1{
    color: white;
    width: 50%;
    padding-left: 50px;
    padding-top: 50px;
}

.topCTA p {
    color: white;
    padding-left: 100px;
}

.topCTA img{
    float: right;
    position: relative;
    top: -400px;
    padding-right: 50px;
    padding-left: 25px;
}

.topCTA button{
    background-color: #E4000F;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    position: relative;
    right: -100px;
} 
.topCTA button:hover{
    background-color: #A6000B;
}

.gameRepresentation video{
    position: relative;
    top: -310px;
}

.gameRepresentation .container {
    position: relative;
    text-align: left;
    font-family: museo sans, sans-serif;
    font-weight: 900;
    font-size: 90pt; 
  }


.gameRepresentation .container h1{
    position: absolute;
    padding-top: 20px;
    top: -20px;
    left:-100px;
    z-index:1;
    color: white;
    width: 1200px;
    text-align: left;
}
.card{
    border-style: none;
}
.card h2{
    text-align: center;
}
.card img{
    padding: 0;

}
