h1{
    font-family: museo sans, sans-serif;
    font-weight: 900;
    font-size: 90pt; 
}

p{
    font-family: museo sans, sans-serif;
    font-weight: 300;
    font-size: 20pt;
}

.topCTA{
    background-color: black;
    margin: 20px;
    padding-bottom: 50px;
}

.topCTA h1{
    color: white;
    width: 50%;
    padding-left: 100px;
    padding-top: 50px;
}

.topCTA p {
    color: white;
    padding-left: 100px;
}

.topCTA img{
    float: right;
    position: relative;
    top: -500px;
    padding-right: 50px;
    padding-left: 50px;
}

.topCTA button{
    background-color: #E4000F;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    position: relative;
    right: -100px;
} 